{% extends "base.html" %}
{% load thumbnail %}

{% block title %}People{% endblock %}

{% block content %}
    <h1>People</h1>
    <div id="people-list">
        {% for user in users %}
        <div class="user">
            <a href="{{ user.get_absolute_url }}"><img src="{{ user.profile.photo.url }}" alt="Not Image"></a>
            <div class="info">
                <a href="{{ user.get_absolute_url }}" class="title">{{ user.username }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}